body {
    font-family: Arial, sans-serif;
    background-color: #fff8e1;
    padding: 20px;
}

h1 {
    color: #d2691e;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    background: #fff3cd;
    padding: 20px;
    border-radius: 8px;
}

label {
    font-weight: bold;
}

button {
    background-color: #d2691e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a0522d;
}
.producto-img {
  max-width: 250px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
button {
  background-color: #d2691e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a0522d;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff3cd;
  border-radius: 8px;
}

th, td {
  border: 1px solid #d2691e;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #d2691e;
  color: white;
}
